/* Estilos generales */
body, .contenido, .w-80 {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #333;
    background: linear-gradient(to bottom, #333, #8f8f8f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666',GradientType=0);
}
section {
    margin-bottom: 60px;
    padding: 20px;
}
.w-80 {
    width: 80%;
    margin: auto;
}
.h-100 {
    margin-top: 50px;
    margin-bottom: 50px;
}
.content {
    width: 80%;
    margin: auto;
}
h2 {
    margin-bottom: 50px;
}
nav {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo {
    padding: 14px 20px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}
nav ul li {
    margin-left: 10px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #111;
}

.logo img {
    width: 150px;
}
/* Estilos CSS para la imagen */
.imagen {
    width: 80%; /* Ajusta el ancho según sea necesario */
    max-width: 1000px; /* Define el ancho máximo de la imagen */
    margin: 0 auto; /* Centra horizontalmente */
    display: block; /* Asegura que la imagen se muestre como un bloque */
}

.navbar-nav .nav-link {
    color: white; /* Cambiar el color del texto de los enlaces del menú a blanco */
}

/* Estilos CSS para la sección Nosotros */
.academia {
    text-align: center;
    padding: 50px 0;
}
.academia h2 {
    margin-bottom: 20px;
}
.academia p {
    margin-bottom: 20px;
}
 /* Estilos para la sección "Nuestros Campeones" */
 .nuestros-campeones {
    text-align: center;
    padding: 50px 0;
}
.nuestros-campeones h2 {
    margin-bottom: 20px;
}
.carousel-item img {
    max-height: 600px; /* Ajusta la altura máxima de las imágenes del carousel según sea necesario */
    object-fit: contain; /* Escala la imagen para que cubra todo el contenedor manteniendo la proporción de aspecto */
}

.card-img-top {
    max-width: 70%;
    height: auto;
}
.w-80 h2 {
    text-align: center;
}
.table {
    text-align: center;
}
/* Estilos para la sección "Ubicacion" y los iconos de redes sociales */
.ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.mapa-contenedor {
    width: 100%; /* Ajusta el ancho del mapa */
}

.texto-redes {
    width: 35%; /* Ajusta el ancho del contenido de texto y los iconos */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido horizontalmente */
}

.redes-sociales {
    margin-top: 20px; /* Añade un espacio entre el contenido y los iconos */
    display: flex;
    /* Quita la dirección de columna para colocar los iconos en una fila */
    justify-content: center; /* Centra los iconos horizontalmente */
}

.redes-sociales a {
    margin-right: 10px; /* Añade un espacio entre los iconos */
}

.redes-sociales img {
    width: 50px; /* Ajusta el tamaño de los iconos de redes sociales */
}

.contacto h2 {
    text-align: center;
}
/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
footer div a {
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    nav ul {
        display: none; /* Ocultar la lista de navegación en dispositivos móviles */
        position: fixed;
        width: 100%;
        top: 70px; /* Ajustar la posición para que esté debajo del encabezado */
        left: 0;
        background-color: #333;
        z-index: 1000;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    nav ul.active {
        display: flex; /* Mostrar la lista de navegación cuando se activa */
    }
    
    .menu-icon {
        cursor: pointer;
        display: block;
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 2000;
    }

    .logo img {
        width: 100px; /* Reducir el tamaño del logo en dispositivos móviles */
    }

    .imagen {
        width: 100%; /* Hacer que la imagen ocupe todo el ancho en dispositivos móviles */
        margin-left: 0; /* Eliminar el margen izquierdo en dispositivos móviles */
    }

    .card {
        width: 90%; /* Ajustar el ancho de las tarjetas en dispositivos móviles */
        margin: 20px auto; /* Agregar margen y centrar las tarjetas */
    }

    .table-responsive {
        overflow-x: auto; /* Permitir desplazamiento horizontal en dispositivos móviles */
    }

    .hide-mobile {
        display: none;
    }

    /* Ajustar el ancho de las celdas en dispositivos móviles */
    .table tbody tr td,
    .table tbody tr th,
    .table thead tr td,
    .table thead tr th {
        width: 100px; /* Cambia el valor según sea necesario */
        white-space: nowrap; /* Evitar que el texto se ajuste automáticamente */
    }

    .mapa-contenedor {
        display: none;
    }

    .ubicacion {
        flex-direction: column;
        align-items: center;
    }

    .texto-redes {
        width: 100%;
        margin-top: 20px;
        text-align: center;
    }

    .redes-sociales a {
        margin: 5px; /* Añadir espacio entre los iconos */
    }
}
